
.headerContainer {
    position:absolute;
    width: 960px;
    margin-top: 0px;
    border: solid;
    height: 100px;
}

.nameContainer {
    position: relative;
    margin-top: 50px;
    margin-left: 150px;
    border: solid;
    width: 150px;
    height: 50px;
    text-align: center;
}

.navContainer {
    margin-top: -50px;
    margin-left: 600px;
    height: 50px;
}

.navContainer li {
    display: inline;
}

.mainContainer {
    position: absolute;
    margin-left: 150px;
    margin-top: 100px;
    border: solid;
    width: 810px;
    height: 600px;
}

.aboutMeContainer {
    margin-left: 0px;
    border:solid;
    margin-top: 20px;
    border-bottom-color: aqua;
}
}

h2 {
    font-weight: bold;
    font-size:  24px;
    margin-bottom: 20px;
}

img {
    width: 100px;
    height: 100px;
    float: left;
    margin: 0px 10px 0px 0px;
}

.wrapsPic {
    margin: 0px 0px 0px 5px;

}

.formStyle {
    margin-top: 70px;
}